/* line 17, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/screen.scss */
body {
  background: white;
}

/* line 38, ../sass/screen.scss */
td {
  font-weight: bold;
}

/* line 41, ../sass/screen.scss */
#introvideo {
  padding: 20px;
  background: #000;
  background-image: url("http://localhost/Shooterz/images/poster.jpg");
  background-size: 1000px;
  background-position: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 10px solid #333333;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url("../fonts/entypo-webfont.eot");
  src: url("../fonts/entypo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-webfont.woff") format("woff"), url("../fonts/entypo-webfont.ttf") format("truetype"), url("../fonts/entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 61, ../sass/screen.scss */
.web-glyphs {
  font-family: 'EntypoRegular';
}

/* line 64, ../sass/screen.scss */
.highlight {
  color: red;
  line-height: 1.5;
}

/* line 68, ../sass/screen.scss */
.nav {
  position: absolute;
  top: -30px;
  right: 20px;
}
/* line 73, ../sass/screen.scss */
.nav ul li {
  display: inline-block;
  margin-left: 5px;
}

/* line 79, ../sass/screen.scss */
.nav a {
  text-decoration: none;
  color: white;
}

/* line 83, ../sass/screen.scss */
.nav ul li a:hover {
  color: #ccc;
}

/* line 86, ../sass/screen.scss */
#wrapper {
  position: relative;
  min-height: 800px;
  width: 65%;
  padding: 20px;
  margin: auto;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
  color: #333333;
}
/* line 94, ../sass/screen.scss */
#wrapper h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 99, ../sass/screen.scss */
#wrapper p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.3;
}

/* line 106, ../sass/screen.scss */
#loginbar {
  width: 100%;
  height: 35px;
  background: #d76532;
}

/* line 111, ../sass/screen.scss */
.login {
  position: relative;
  z-index: 9999;
}
/* line 114, ../sass/screen.scss */
.login ul {
  position: absolute;
  right: 0px;
  top: -120px;
}
/* line 118, ../sass/screen.scss */
.login ul li {
  font-size: 16px;
  color: white;
  font-weight: bold;
  display: inline;
}
/* line 123, ../sass/screen.scss */
.login ul li input {
  color: white;
  padding: 1px 6px 1px 6px;
  font-size: 16px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: #333;
  box-shadow: none;
  border: none;
}

/* line 135, ../sass/screen.scss */
.webicons {
  font-family: 'EntypoRegular';
  font-size: 48px;
  color: #333;
  display: inline;
  position: absolute;
  top: -20px;
  left: -35px;
}

/* line 145, ../sass/screen.scss */
.sendlogin {
  font-size: 9px !important;
  background: #333333;
  border: 2px solid #333333 !important;
  padding: 1px 10px !important;
  box-shadow: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #ccc !important;
  display: inline;
  position: relative;
  top: -2px;
}

/* line 157, ../sass/screen.scss */
.sendlogin:hover {
  color: white !important;
  border: 2px solid white !important;
  cursor: pointer;
}

/* line 162, ../sass/screen.scss */
#branding {
  width: 100%;
  height: 70px;
  background: #333;
}

/* line 167, ../sass/screen.scss */
.texture {
  width: 100%;
  height: 10px;
  background: url("../images/dotted-lg.png") repeat-x;
  position: absolute;
}

/* line 173, ../sass/screen.scss */
.logo {
  position: absolute;
  top: -60px;
}

/*====================================================
      VIDEO STYLES
====================================================*/
/* line 180, ../sass/screen.scss */
#camera {
  display: block;
  width: 300px;
  height: 225px;
  border: 20px solid #333333;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px;
  -ms-border-top-left-radius: 30px;
  -o-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
  -ms-border-top-right-radius: 30px;
  -o-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
}

/* line 187, ../sass/screen.scss */
.video-controls {
  position: relative;
  height: 30px;
  width: 300px;
  background: #333333;
  border: 20px solid #333333;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -ms-border-bottom-left-radius: 30px;
  -o-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -ms-border-bottom-right-radius: 30px;
  -o-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 195, ../sass/screen.scss */
#play, #pause, #stop {
  position: absolute;
  border: none;
  background: none;
}

/* line 200, ../sass/screen.scss */
#play {
  bottom: -10px;
  left: 70px;
}

/* line 201, ../sass/screen.scss */
#pause {
  bottom: -10px;
  left: 130px;
}

/* line 203, ../sass/screen.scss */
.opponent {
  position: absolute;
  right: 31%;
  top: 120px;
}

/*====================================================
      FOOTER STYLES
====================================================*/
/* line 211, ../sass/screen.scss */
#footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #333;
}

/* line 217, ../sass/screen.scss */
.footer-logo {
  position: absolute;
  bottom: -210px;
  left: 40px;
  z-index: 999999;
}

/* line 223, ../sass/screen.scss */
.footer-nav {
  position: absolute;
  bottom: -180px;
  right: 20px;
  z-index: 9999;
}
/* line 229, ../sass/screen.scss */
.footer-nav ul li {
  display: inline-block;
  margin-left: 5px;
}

/* line 235, ../sass/screen.scss */
.footer-nav a {
  text-decoration: none;
  color: white;
}

/* line 239, ../sass/screen.scss */
.footer-nav a:hover {
  color: #cccccc;
}

/* line 242, ../sass/screen.scss */
#copyright {
  position: relative;
  color: black;
  width: 100%;
  height: 40px;
  background: white;
  background: url("../images/dotted-lg.png") repeat-x;
  z-index: 99999;
}
/* line 250, ../sass/screen.scss */
#copyright span {
  position: absolute;
  top: 15px;
  left: 40%;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}

/* line 259, ../sass/screen.scss */
.tagline {
  margin: 80px 0px;
}

/* line 263, ../sass/screen.scss */
#warningMsg {
  color: red;
  z-index: 999999;
}

/* line 267, ../sass/screen.scss */
.highlight-links {
  font-weight: bold;
  color: #d76532;
}

/*====================================================
        REGISTRATION STYLES
====================================================*/
/* line 276, ../sass/screen.scss */
.register {
  margin-top: 100px;
  padding: 15px;
  width: 50%;
}
/* line 280, ../sass/screen.scss */
.register .notice {
  color: inherit;
  font-weight: bold;
}
/* line 283, ../sass/screen.scss */
.register .notice span {
  padding: 10px;
  font-family: 'EntypoRegular';
  font-size: 40px;
  color: red;
}
/* line 290, ../sass/screen.scss */
.register .invalid_field {
  margin-left: 20px;
  color: red;
}
/* line 294, ../sass/screen.scss */
.register label {
  display: block;
  width: 180px;
  float: left;
  margin: 8px 4px 6px 4px;
  text-align: left;
}
/* line 302, ../sass/screen.scss */
.register input {
  margin: 5px 0px;
  color: white;
  padding: 3px 15px;
  font-size: 18px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #333;
  box-shadow: none;
  border: none;
}
/* line 312, ../sass/screen.scss */
.register input:focus {
  border: none;
  box-shadow: none;
}

/* line 317, ../sass/screen.scss */
.terms {
  color: #d76532;
}
/* line 319, ../sass/screen.scss */
.terms a {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

/* line 325, ../sass/screen.scss */
.error-messages {
  z-index: 99999999;
  min-width: 320px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: solid 15px #e3e3e3;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: black;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  color: white;
  background: #000;
  font-style: italic;
  position: absolute;
  top: 600px;
}
/* line 342, ../sass/screen.scss */
.error-messages li {
  margin: 10px;
}

/* line 346, ../sass/screen.scss */
#regi-button {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  border: none;
  padding: 8px 20px;
  background: #333333;
}

/* line 356, ../sass/screen.scss */
#regi-button:hover {
  font-weight: bold;
  cursor: pointer;
  background: #d76532;
}

/* line 361, ../sass/screen.scss */
.terms-statement {
  margin-top: 100px;
}
/* line 363, ../sass/screen.scss */
.terms-statement p {
  font-size: 16px !important;
}

/*====================================================
        GAMEPAGE STYLES
====================================================*/
/* line 371, ../sass/screen.scss */
#main-app {
  margin-top: 100px;
}

/* line 375, ../sass/screen.scss */
#adspace-one {
  height: 80px;
  border: 1px dashed #ccc;
  margin: 10px 0px 10px 250px;
  color: #ccc;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}

/* line 387, ../sass/screen.scss */
#drink-count {
  position: absolute;
  top: 120px;
  right: 1.5%;
  padding: 20px 46px;
  font-size: 20px;
  font-weight: bold;
  background: #333333;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  color: white;
}

/* line 398, ../sass/screen.scss */
#reset-counter {
  position: absolute;
  top: 380px;
  right: 1.5%;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: bold;
  background: #333333;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  color: white;
}

/* line 409, ../sass/screen.scss */
#reset-counter:hover {
  background: #d76532;
  cursor: pointer;
}

/* line 413, ../sass/screen.scss */
#score-box {
  position: absolute;
  top: 200px;
  right: 1.5%;
  padding: 50px 90px 50px 90px;
  background: #333333;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
/* line 420, ../sass/screen.scss */
#score-box .plus, #score-box .minus {
  position: absolute;
  width: 40px;
  font-size: 35px;
  color: white;
}
/* line 426, ../sass/screen.scss */
#score-box button {
  padding: 0px 2px;
  background: #d76532;
  border: 3px solid white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
/* line 432, ../sass/screen.scss */
#score-box button:hover {
  background: #333;
  cursor: pointer;
}
/* line 436, ../sass/screen.scss */
#score-box .plus {
  right: 20px;
  top: 35px;
}
/* line 440, ../sass/screen.scss */
#score-box .minus {
  right: 20px;
  top: 90px;
}

/* line 445, ../sass/screen.scss */
.my-score {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

/*====================================================
      CHATBOX STYLES
/*====================================================*/
/* line 454, ../sass/screen.scss */
#chatbox {
  height: 200px;
  width: 320px;
  line-height: 1.2;
  padding: 5px;
  margin: 15px 0px;
  border: 3px solid #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #333333;
  color: white;
  overflow-y: scroll;
}

/* line 466, ../sass/screen.scss */
#textform {
  height: 50px;
  width: 320px;
  padding: 5px;
  border: 3px solid #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #333333;
  color: white;
  font-size: 14px;
}

/* line 476, ../sass/screen.scss */
#shout {
  margin: 10px 0px;
  background: #333333;
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  border: 3px solid #333333;
  padding: 10px 25px;
  display: block;
}

/*====================================================
      Validation Errors
/*====================================================*/
/* line 490, ../sass/screen.scss */
.wrong {
  position: absolute;
  right: 0px;
  z-index: 99999999;
  min-width: 320px;
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: solid 15px #e3e3e3;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: black;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}
