/* line 17, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Users/Admin/Desktop/fire.app.windows.v1.1/fire.app/lib/ruby/compass_0.12/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.scss */
body {
  background: white;
}

/* line 24, ../sass/screen.scss */
td {
  font-weight: bold;
}

/* line 27, ../sass/screen.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../sass/screen.scss */
#introvideo {
  padding: 20px 20px 1% 20px;
  background: #000;
  background-image: url("http://localhost/Shooterz/images/poster.jpg");
  background-size: 1000px;
  background-position: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 10px solid #333333;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url("../fonts/entypo-webfont.eot");
  src: url("../fonts/entypo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-webfont.woff") format("woff"), url("../fonts/entypo-webfont.ttf") format("truetype"), url("../fonts/entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 52, ../sass/screen.scss */
.web-glyphs {
  font-family: 'EntypoRegular';
}

/* line 55, ../sass/screen.scss */
.highlight {
  color: red;
  line-height: 1.5;
}

/* line 59, ../sass/screen.scss */
.nav {
  position: absolute;
  top: 80px;
  right: 15%;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}
/* line 65, ../sass/screen.scss */
.nav ul li {
  display: inline-block;
  margin-left: 5px;
}

/* line 71, ../sass/screen.scss */
.nav a {
  text-decoration: none;
  color: white;
}

/* line 75, ../sass/screen.scss */
.nav ul li a:hover {
  color: #ccc;
}

/* line 78, ../sass/screen.scss */
.grid {
  padding: 0 15%;
}
/* line 80, ../sass/screen.scss */
.grid .col-2-3 {
  padding: 20px 0px;
  min-height: 800px;
  width: 66.66%;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
  color: #333333;
}
/* line 86, ../sass/screen.scss */
.grid .col-2-3 h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 91, ../sass/screen.scss */
.grid .col-2-3 p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.3;
}
/* line 97, ../sass/screen.scss */
.grid .col-1-3 {
  width: 33.33%;
  min-height: 800px;
  padding-right: 15%;
}
/* line 102, ../sass/screen.scss */
.grid .col-1-2 {
  width: 50%;
}
/* line 105, ../sass/screen.scss */
.grid .col-1-4 {
  width: 25%;
}
/* line 108, ../sass/screen.scss */
.grid .col-1-8 {
  width: 12.5%;
}

/* line 113, ../sass/screen.scss */
.grid-pad {
  padding: 20px 0px 20px 20px;
}

/* line 116, ../sass/screen.scss */
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 119, ../sass/screen.scss */
[class*='col-'] {
  float: left;
}

/* line 122, ../sass/screen.scss */
[class*='col-'] {
  padding-right: 20px;
}

/* line 125, ../sass/screen.scss */
[class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 128, ../sass/screen.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 133, ../sass/screen.scss */
#loginbar {
  width: 100%;
  height: 35px;
  background: #d76532;
}

/* line 138, ../sass/screen.scss */
.login {
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
  position: relative;
  z-index: 9999;
}
/* line 142, ../sass/screen.scss */
.login ul {
  position: absolute;
  right: 15%;
  top: 5px;
}
/* line 146, ../sass/screen.scss */
.login ul li {
  font-size: 16px;
  color: white;
  font-weight: bold;
  display: inline;
}
/* line 151, ../sass/screen.scss */
.login ul li input {
  color: white;
  padding: 1px 6px 1px 6px;
  font-size: 16px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: #333;
  box-shadow: none;
  border: none;
}

/* line 163, ../sass/screen.scss */
.webicons {
  font-family: 'EntypoRegular';
  font-size: 48px;
  color: #333;
  display: inline;
  position: absolute;
  top: -20px;
  left: -35px;
}

/* line 173, ../sass/screen.scss */
.sendlogin {
  font-size: 9px !important;
  background: #333333;
  border: 2px solid #333333 !important;
  padding: 1px 10px !important;
  box-shadow: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #ccc !important;
  display: inline;
  position: relative;
  top: -2px;
}

/* line 185, ../sass/screen.scss */
.sendlogin:hover {
  color: white !important;
  border: 2px solid white !important;
  cursor: pointer;
}

/* line 190, ../sass/screen.scss */
#branding {
  width: 100%;
  height: 70px;
  background: #333;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}

/* line 196, ../sass/screen.scss */
.texture {
  width: 100%;
  height: 10px;
  background: url("../images/dotted-lg.png") repeat-x;
  position: absolute;
}

/* line 202, ../sass/screen.scss */
.logo {
  position: absolute;
  top: 45px;
  left: 14%;
  z-index: 999999;
}

/*====================================================
      VIDEO STYLES
====================================================*/
/* line 211, ../sass/screen.scss */
.camera {
  display: inline;
  width: 300px;
  height: 225px;
  border: 20px solid #333333;
  margin: 0;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px;
  -ms-border-top-left-radius: 30px;
  -o-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
  -ms-border-top-right-radius: 30px;
  -o-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}

/* line 220, ../sass/screen.scss */
.video-controls {
  position: relative;
  top: -2px;
  margin-bottom: 15px;
  height: 30px;
  width: 300px;
  background: #333333;
  border: 20px solid #333333;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -ms-border-bottom-left-radius: 30px;
  -o-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -ms-border-bottom-right-radius: 30px;
  -o-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 230, ../sass/screen.scss */
#play, #pause, #stop {
  position: absolute;
  background: none;
  border: none;
  font-family: 'EntypoRegular';
  color: white;
  font-size: 50px !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* line 239, ../sass/screen.scss */
#play {
  bottom: 0px;
  left: 80px;
  padding: 0px 5px;
}

/* line 240, ../sass/screen.scss */
#pause {
  bottom: 0px;
  left: 140px;
  padding: 0px 5px;
}

/* line 241, ../sass/screen.scss */
.opponent-1 {
  float: left;
}

/* line 244, ../sass/screen.scss */
.opponent-2 {
  float: right;
  margin-right: 5%;
}

/*====================================================
      FOOTER STYLES
====================================================*/
/* line 251, ../sass/screen.scss */
#footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #333;
}

/* line 257, ../sass/screen.scss */
.footer-logo {
  position: absolute;
  bottom: -15px;
  left: 14%;
  z-index: 999999;
}

/* line 263, ../sass/screen.scss */
.footer-nav {
  position: absolute;
  bottom: 10px;
  right: 15%;
  z-index: 9999;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}
/* line 270, ../sass/screen.scss */
.footer-nav ul li {
  display: inline-block;
  margin-left: 5px;
}

/* line 276, ../sass/screen.scss */
.footer-nav a {
  text-decoration: none;
  color: white;
}

/* line 280, ../sass/screen.scss */
.footer-nav a:hover {
  color: #cccccc;
}

/* line 283, ../sass/screen.scss */
#copyright {
  position: relative;
  color: black;
  width: 100%;
  height: 40px;
  background: white;
  background: url("../images/dotted-lg.png") repeat-x;
  z-index: 99999;
}
/* line 291, ../sass/screen.scss */
#copyright span {
  position: absolute;
  top: 15px;
  left: 40%;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}

/* line 300, ../sass/screen.scss */
.tagline {
  margin: 80px 0px;
}

/* line 304, ../sass/screen.scss */
#warningMsg {
  color: red;
  z-index: 999999;
}

/* line 308, ../sass/screen.scss */
.highlight-links {
  font-weight: bold;
  color: #d76532;
}

/*====================================================
        REGISTRATION STYLES
====================================================*/
/* line 317, ../sass/screen.scss */
.register {
  margin-top: 100px;
  padding: 15px;
  width: 500px;
}
/* line 321, ../sass/screen.scss */
.register .notice {
  color: inherit;
  font-weight: bold;
}
/* line 324, ../sass/screen.scss */
.register .notice span {
  padding: 10px;
  font-family: 'EntypoRegular';
  font-size: 40px;
  color: red;
}
/* line 331, ../sass/screen.scss */
.register .invalid_field {
  margin-left: 20px;
  color: red;
}
/* line 335, ../sass/screen.scss */
.register label {
  display: block;
  width: 180px;
  float: left;
  margin: 8px 4px 6px 4px;
  text-align: left;
}
/* line 343, ../sass/screen.scss */
.register input {
  margin: 5px 0px;
  color: white;
  padding: 3px 15px;
  font-size: 18px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #333;
  box-shadow: none;
  border: none;
}
/* line 353, ../sass/screen.scss */
.register input:focus {
  border: none;
  box-shadow: none;
}

/* line 358, ../sass/screen.scss */
.terms {
  color: #d76532;
}
/* line 360, ../sass/screen.scss */
.terms a {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

/* line 366, ../sass/screen.scss */
.error-messages {
  z-index: 99999999;
  min-width: 320px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: solid 15px #e3e3e3;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: black;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  color: white;
  background: #000;
  font-style: italic;
  position: absolute;
  top: 700px;
  left: 17.5%;
}
/* line 384, ../sass/screen.scss */
.error-messages li {
  margin: 10px;
}

/* line 388, ../sass/screen.scss */
.buttonwrap {
  position: relative;
}

/* line 391, ../sass/screen.scss */
#regi-button {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  border: none;
  padding: 8px 25px;
  background: #333333;
}

/* line 401, ../sass/screen.scss */
#regi-button:hover {
  font-weight: bold;
  cursor: pointer;
  background: #d76532;
}

/* line 406, ../sass/screen.scss */
.terms-statement {
  margin-top: 100px;
}
/* line 408, ../sass/screen.scss */
.terms-statement p {
  font-size: 16px !important;
}

/*====================================================
        CONTACT FORM
====================================================*/
/* line 415, ../sass/screen.scss */
.contactAdmin {
  position: relative;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}
/* line 419, ../sass/screen.scss */
.contactAdmin label {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin: 5px 0px;
  width: 500px;
}
/* line 427, ../sass/screen.scss */
.contactAdmin ul li {
  margin: 5px 0px;
}

/* line 432, ../sass/screen.scss */
.con_name, .con_email, .con_text {
  background: #333333;
  padding: 3px 10px;
  color: white;
  font-weight: normal;
  font-size: 16px;
  width: 250px;
  height: 35px;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

/* line 443, ../sass/screen.scss */
.con_text {
  height: 100px;
  width: 400px;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
}

/* line 448, ../sass/screen.scss */
.con_submit {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  border: none;
  padding: 6px 25px;
  background: #333333;
  line-height: 2;
}

/* line 459, ../sass/screen.scss */
.con_submit:hover {
  background: #d76532;
  cursor: pointer;
}

/* line 463, ../sass/screen.scss */
.contact_glyphs {
  position: relative;
  top: 5px;
  font-family: 'EntypoRegular';
  font-size: 60px;
  font-style: normal;
}

/* line 470, ../sass/screen.scss */
.contact_glyphs_headline {
  position: relative;
  top: 15px;
  font-family: 'EntypoRegular';
  font-size: 150px;
  font-style: normal;
}

/*====================================================
        GAMEPAGE STYLES
====================================================*/
/* line 481, ../sass/screen.scss */
#adspace-one {
  height: 80px;
  border: 1px dashed #ccc;
  margin: 10px 0px 10px 250px;
  color: #ccc;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}

/* line 491, ../sass/screen.scss */
.game-ui {
  position: absolute;
  right: 15%;
  top: 225px;
  text-align: center;
  font-weight: bold;
  color: white;
  background: #333333;
  padding: 10px 50px 0px 50px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}
/* line 502, ../sass/screen.scss */
.game-ui .game-title {
  font-size: 30px !important;
}
/* line 505, ../sass/screen.scss */
.game-ui .my-score {
  color: white;
  font-size: 60px !important;
}
/* line 509, ../sass/screen.scss */
.game-ui button {
  padding: 5px 12px;
  margin: 0px 5px 20px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  border: 2px solid white;
  background: #333333;
  color: white;
  -webkit-box-shadow: rgba(255, 0, 0, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(255, 0, 0, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(255, 0, 0, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}
/* line 518, ../sass/screen.scss */
.game-ui #counter {
  border: 4px solid white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  padding: 5px 10px;
  background: #d76532;
  font-size: 16px;
  -webkit-box-shadow: rgba(255, 0, 0, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(255, 0, 0, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(255, 0, 0, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}

/*====================================================
      CHATBOX STYLES
/*====================================================*/
/* line 530, ../sass/screen.scss */
#chatbox {
  height: 200px;
  width: 300px;
  line-height: 1.2;
  padding: 5px;
  margin: 15px 0px;
  border: 3px solid #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #333333;
  color: white;
  overflow-y: scroll;
}

/* line 542, ../sass/screen.scss */
#textform {
  height: 50px;
  width: 300px;
  padding: 5px;
  border: 3px solid #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #333333;
  color: white;
  font-size: 14px;
}

/* line 552, ../sass/screen.scss */
#shout {
  margin: 10px 0px;
  background: #333333;
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  border: 3px solid #333333;
  padding: 10px 25px;
  display: block;
}

/*====================================================
      Validation Errors
/*====================================================*/
/* line 566, ../sass/screen.scss */
.wrong {
  position: absolute;
  right: 15%;
  top: 120px;
  z-index: 99999999;
  min-width: 320px;
  color: white;
  font-family: "Open Sans", sans-serif, "trebuchet ms", georgia;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: solid 15px #e3e3e3;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: black;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}

/* line 583, ../sass/screen.scss */
.ecommerce-button {
  background: #333;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: none;
  border: 5px solid #fff;
  font-family: georgia;
  color: #fff;
}
